*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* start */

main {
  display: flex;
  min-height: 100dvh;
  gap: 40px;
  justify-content: center;
  margin-inline: 200px;
  align-items: center;
}

main > * {
  max-width: 800px;
}

@media screen and (max-width: 1440px) {
  main {
    margin-inline: 50px;
  }
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column-reverse;
  }

  main .controls {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-inline: 20px;
  }
  main .resume {
    font-size: small;
    margin: 0;
    padding-inline: 20px;
  }

  main .controls {
    padding: 10px;
  }

  main .controls form {
    padding: 10px;
  }
}

@media screen and (max-width: 425px) {
  main .resume {
    margin-top: 20px;
    padding-block: 20px;
  }

  main .controls {
    font-size: small;
  }
  main .controls form {
    margin-inline: 0;
  }

  main {
    margin-inline: 10px;
  }
}

@media screen and (max-width: 375px) {
  main .controls {
    padding-inline: 6px;
  }
  main .controls form {
    padding-inline: 4px;
  }
}
